*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #3b3c4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  justify-content: center;
  padding: 0px 0;
}

.login-container {
  height: 500px;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: rgba(255, 255, 255, 0.85);
  animation: slideIn 1s ease-in-out;
  margin-bottom: 100px

}
.login-container h2 {
  margin-top: 80px; /* מרווח רק בדף ה-Login */
  
}

h2{
  margin-right: 240px;
  
}
.log-in-input {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border: 1px solid #3b3c4f;
  border-radius: 5px;
  font-size: 16px;
}

.log-in-input:focus {
  outline: none;
  border: 1px solid #7a7d81;
}

/* .log-in-btn {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #DBE4C9;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
} */
.log-in-btn {
  margin: 20px 0;
  padding: 12px;
  width: 100%;
  border: 1px solid #3b3c4f; /* מסגרת כהה */
  background-color: #DBE4C9; /* ירוק עדין */
  border-radius: 0; /* ללא עיגול */
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  color: #3b3c4f; /* צבע טקסט כהה */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* כשהעכבר עובר - הכפתור נהיה שקוף והטקסט הופך לכחול */
.log-in-btn:hover {
  background-color: transparent; /* הופך לשקוף */
  color: #3b3c4f; /* כחול של הלוגו */
  border-color: #3b3c4f; /* משנה גם את הצבע של המסגרת */
}
.register-link {
  text-decoration: none;
  color: #535bf5;
  width: 100%;
  text-align: center;
}

/* RESPONSIVE DESIGN */
/* @media (max-width: 768px) {
  .login-container {
    width: 90%;
    padding: 60px;
    max-width: 600px;
  }

  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    max-width: 100%;
  }
} */
/*  */