.header{

    height: 10%;

    
}
.nav_items{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.hero{
    background-image: url("./assets/imeges/imeg2.jpeg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
}
.section{

   
}
.footer{

}
.main_div{

    height: 90%;
    overflow-y: scroll;
}